In [1]:
#Create markdown cell with title of the notebook

<h1>Data Science Tools and Ecosystem<h1>

In [2]:
#Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:

1. Knowledge about working using jupyter
2. Knowledge about tools useful in datascience

In [4]:
#Create a markdown cell to list data science languages with ordered list

Some of the popular languages that Data Scientists use are:

1. Python
2. Sql
3. R

In [2]:
#Unordered list

-Python
-Sql
-R

In [5]:
#Create a markdown cell to list data science libraries with ordered list

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. SciPy

In [6]:
#Create a markdown cell with a table of Data Science tools

| Data Science Tools |
| -------------|
| Jupyter |
| RStudio
| Scala|

In [7]:
#Create a markdown cell introducing arithmetic expression examples

<h3>Below are a few examples of evaluating arithmetic expressions in Python<h3>

In [8]:
#Create a code cell to multiply and add numbers

In [9]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
#Create a code cell to convert minutes to hours

In [12]:
#This will convert 200 minutes to hours by diving by 60
min = 200
print("200 min to hours is ", int(min/60), ":", min % 60)

200 min to hours is  3 : 20

In [3]:
#Create a markdown cell to indicate the Author's name

<h2>Author<h2>

Hitha L